<div class="row mt-5">
    <h5>Comparador de Criptos:</h5>
    <hr>
        <div class="input-group">
            <form [formGroup]="miFormulario" (ngSubmit)="buscar(miFormulario.value.criptoOne,miFormulario.value.criptoTwo, miFormulario.value.criptoThree)" class="w-100">
                <div class="row">
                <div class="col-md-4">
                <select class="custom-select w-100 p-2 rounded" id="inputGroupSelect01" formControlName="criptoOne" >
                    <option selected disabled>Selecione moneda...</option>
                    <option value="{{cripto}}" *ngFor="let cripto of allCriptos">{{cripto |
                        titlecase}}</option>

                </select>
            </div>
            <div class="col-md-4">
                <select class="custom-select w-100 p-2 rounded" id="inputGroupSelect01" formControlName="criptoTwo" >
                    <option selected disabled>Selecione moneda...</option>
                    <option value="{{cripto}}" *ngFor="let cripto of allCriptos">{{cripto |
                        titlecase}}</option>

                </select>
                </div>
                <div class="col-md-4">
                <select class="custom-select w-100 p-2 rounded" id="inputGroupSelect01" formControlName="criptoThree" >
                    <option selected disabled>Selecione moneda...</option>
                    <option value="{{cripto}}" *ngFor="let cripto of allCriptos">{{cripto |
                        titlecase}}</option>

                </select>
                </div>
                <div class="input-group-append w-100 mt-1">
                    <button class="btn btn-success float-end p-3" type="submit">Buscar</button>
                </div>
            </div>
            </form>
        </div>
        
        
        <div class="row">
            <ng-container *ngIf="radarChartData.datasets[2].data.length > 0; else elseTemplates">
                <div class="col-md-5">
                    <canvas baseChart
                        [data]="radarChartData"
                        [options]="radarChartOptions"
                        [type]="radarChartType">
                  </canvas>
                </div>
                <div class="col-md-7">
                    <div class="row">
                    <canvas baseChart
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [type]="barChartType"
                        (chartHover)="chartHovered($event)"
                        >
                    </canvas>
                </div>
               
                </div>
                <div class="row">
                    <canvas baseChart
                        [data]="polarAreaChartData"
                        [legend]="polarAreaLegend"
                        [type]="polarAreaChartType">
                    </canvas>
                </div>
            </ng-container>
            <ng-template #elseTemplates>
               <div class="alert alert-success col">
                    Cargando...
                </div>
            </ng-template>
            </div>
</div>